.mainBlock {
  margin: 40px 135px 140px 135px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.controlBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.inputSearch {
  width: 170px;
  border: none;
}

.inputSearch:focus {
  outline: none;
}

.labelSearch {
  display: flex;
}

.inputSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inputSearchButton:hover {
  transform: scale(1.1);
}

.inputSearchButton:active {
  color: red;
  transform: scale(1);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26vh;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #b1b5b8;
  border-bottom-color: #4e5a64;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
