.mainBlock {
  margin: 40px 135px 140px 135px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.controlBlock {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.inputSearch {
  width: 170px;
  border: none;
}

.inputSearch:focus {
  outline: none;
}

.labelSearch {
  display: flex;
}

.inputSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inputSearchButton:hover {
  transform: scale(1.1);
}

.inputSearchButton:active {
  color: red;
  transform: scale(1);
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #b1b5b8;
  border-bottom-color: #4e5a64;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #db4444;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  margin: 0 8px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
}

.pageButton:hover {
  background-color: #c23737;
}

.pageButton:disabled {
  background-color: #a8a8a8;
}

.pageText {
  margin: 0 16px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
