.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}

.loginForm input,
.loginForm select {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.loginForm input:focus,
.loginForm select:focus {
  outline: none;
}

.loginForm .error {
  position: absolute;
  left: 0;
  height: 20px;
  color: red;
  width: 100%;
}

.error {
  font-size: 10px;
  color: red;
}

select:not(:focus) {
  color: #808080;
}

.logInContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logInLink {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

.logInLink::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #000000;
  position: absolute;
  bottom: -5px;
  left: 0;
}
