.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
} */
