.main-block {
  display: flex;
  margin-bottom: 140px;
}

.form-sign-up-block {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  margin: 0 135px 0 0;
}

.h1 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
}
