.cartComponent {
  display: grid;
  place-items: center;
}

.emptyCartImg {
  width: 400px;
}

.emptyCartMessage {
  text-align: center;
  font-size: 2.5rem;
  color: slategray;
  margin-block-start: 0;
}

@media screen and (max-width: 500px) {
  .emptyCartImg {
    width: 300px;
  }

  .emptyCartMessage {
    font-size: 1.5rem;
  }
}
