.header {
  display: flex;
  height: 80px;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 135px;
}

.name-shop {
  font-size: 26px;
  font-weight: bold;
}

.header-nav {
  font-size: 16px;
  font-weight: 400;
}

.header-nav-list {
  display: flex;
  gap: 48px;
  margin: 0;
  list-style-type: none;
}

.header-search {
  width: 243px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration-line: underline;
}
