.footerBlock {
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px 0;
  background: #000000;
}

.footerWrapper {
  width: 100%;
}

.rsschoolLogo { 
  height: 50px;
}

.footerText {
  color: #ffffff;
}

.exclusiveLogo { 
  height: 100px;
}

@media screen and (max-width: 767px) {
  .footerBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }  

  .exclusiveLogo { 
    display: none;
  }
}

