.signUpForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;
}

.formAddress {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.signUpForm input,
.signUpForm select {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.signUpForm input:focus,
.signUpForm select:focus {
  outline: none;
}

.signUpForm .error {
  position: absolute;
  left: 0;
  height: 20px;
  color: red;
  width: 100%;
}

.error {
  font-size: 10px;
  color: red;
}

select:not(:focus) {
  color: #808080;
}

.inputsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.inputContainer {
  position: relative;
}

.messageContainer {
  position: relative;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.success {
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  color: #00a600;
  font-size: 15px;
  text-align: center;
  width: 100%;
  animation: grow 0.5s ease-out;
}

.serverError {
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-size: 13px;
  text-align: center;
  width: 100%;
  animation: grow 0.5s ease-out;
}
