@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sale-offer {
  height: 48px;
  width: 100%;
  background: #000000;
  margin-bottom: 12px;
}
