.notFoundPageLink {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 140px;
}

.h1 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 115px;
  letter-spacing: 0.03em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.h2 {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}
